body {
	background: url(images/cork-wallet.png);
}
h1 {
	margin: 10px 0 0;
}
header {
	font-family: 'Lobster', cursive;
	font-size: 2rem;
	text-align: center;
	margin: 0 auto;
	width: 70%;
	color: #BD733F;
}
article {
	background: #FFF;
	font-family: 'Oxygen', sans-serif;
	margin: 0 auto;
	padding: 3%;
	width: 70%;
}
.article-info {
	font-family: 'Cormorant Garamond', serif;
	font-size: 1em;
	margin: 0 auto;
	width: 70%;
	color: #9D7121;
}
hr {
	margin: 0 -3% 2%;
}
.article-info h2{
	font-style: italic;
}

img {
	max-height: 400px;
	max-width: 400px;
	padding: 5px 20px;
}

.lft {
	float:left;
	padding:10px 20px 10px 0;
}
.rgt {
	float:right;
	padding: 10px 0 10px 20px;
}
p {
	font-family: 'Oxygen', sans-serif;
	line-height: 1.5rem;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
footer{
	margin: 0 auto;
	padding: 2%;
	width: 70%;
}
footer a {
	background: #FFDFA4; /*light gold*/
	border: 1px solid #448E84;/*turquosie*/
	border-radius: 50px;
	display: inline-block;
	margin-right: 10px;
	padding: 10px;
	transition: ease .8s all;
	font-family: 'Cormorant Garamond', serif;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	color: #1D3968;
}
footer a:hover {
	background: #FFCAA4;/*light pink*/
	color: #0A224C; /*dark blue*/
}
/* Color Pallet */
/* Color Pallet available at: http://paletton.com/#uid=70q0u0kllnGbo-ogOsrpnjIuCem */