body {
	/*Photo from https://cdn.pixabay.com/photo/2017/01/06/16/00/dance-1958128_960_720.jpg*/
	background: url(images/cork-wallet.png);
}

img {
	max-height: 400px;
	max-width: 400px;
	padding: 5px 20px;
}

footer{
	margin: 0 auto;
	padding: 40px;
	width: 70%;
}
footer a {
	background: #FFDFA4; /*light gold*/
	border: 7px dotted #448E84;/*turquosie*/
	color: #1D3968;
	display: inline-block;
	font-weight: 700;
	margin-right: 10px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: ease .8s all;
}
footer a:hover {
	background: #FFCAA4;/*light pink*/
	color: #0A224C; /*dark blue*/
}

.top-header{
	color: #BD733F;
	font-family: 'Lobster', cursive;
	margin: 0 auto;
	text-align: center;
	width: 70%;
}

.article-info {
	color: #9D7121;
	font-family: 'Quattrocento', serif;
	margin: 0 auto;
	padding: 10px;
	width: 70%;
}

.article-info h2{
	font-style: italic;
}

.content-container {
	background: #FFF;
	font-family: 'Oxygen', sans-serif;
	margin: 0 auto;
	padding: 10px;
	width: 70%;
}


.lft {
	float:left;
	padding:10px 20px 10px 0;
}
.rgt {
	float:right;
	padding: 10px 0 10px 20px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Color Pallet */
/* Color Pallet available at: http://paletton.com/#uid=70q0u0kllnGbo-ogOsrpnjIuCem */